@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.instagram-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 130px 0 0;
}
.instagram-phones {
    position: relative;
}
.img-phone {
    position: relative;
    width: 548px;
    margin-left: 100px;
    margin-top: 20px;
}
.img-phone-abs {
    position: absolute;
    width: 300px;
    height: 640px;
    left: 282px;
    top: 48px;
}
.container-instagram-account {
    width: 440px;
}
.instagram-logo {
    display: flex;
    justify-content: center;
    margin: 58px 0 42px 0;
}
.instagram-login {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2px;
}
.instagram-form {
    margin: 0 54px 6px;
    display: flex;
    flex-direction: column;
}
.input-form {
    padding: 12px;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-radius: 4px;
    margin-bottom: 6px;
}
.button-form {
    background-color: #3a86ff;
    color: #fff;
    padding: 6px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
}
.container-choose {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #829191;
}
.text-choose {
    display: flex;
    align-items: center;
}
.text-choose::after {
    content: "";
    width: 140px;
    height: 2px;
    background-color: #eee;
    position: relative;
    margin-left: 10px;

}
.text-choose::before {
    content: "";
    width: 140px;
    height: 2px;
    background-color: #eee;
    position: relative;
    margin-right: 10px;

}
.facebook-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-link-facebook {
    display: flex;
    padding: 14px 0;
}
.img-facebook {
    max-width: 20px;
    margin-right: 10px;
}
.link-login-facebook {
    text-decoration: none;
    color: #385185;
    font-weight: bold;
    font-size: 14px;
}
.forgot-facebook {
    padding: 10px 0 16px 0;
}
.link-forgot-facebook {
    display: inline-block;
    text-decoration: none;
    color: #385185;
    text-align: center;
    font-size: 12px;
}
.instagram-register {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    border-radius: 2px;
    margin: 10px 0;
    padding: 28px 0;
}
.text-register {
    margin-right: 4px;
}
.link-register {
    text-decoration: none;
    color: #3a86ff;
    font-weight: 600;
}
.container-instagram-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instagram-apps {
    max-width: 440px;
}
.title-apps {
    padding: 20px;
}
.img-apps {
    height: 52px;
}